.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 25px;
}

.project-card {
    background-color: #1E293B;
    width: 30.3%;
    border-radius: 18px;
    padding: 2px;
    /* overflow: hidden; */
    object-fit: fill;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}



.card-img {
    cursor: pointer;
    height: 250px;
    border-radius: 18px 18px 0 0;
    background: rgb(21, 21, 21);
    transition: 0.3s;
}

.card-img:hover {
    border-radius: 18px;
    transform: scale(1.05);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.632);
}

.card-desc {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
}

.card-desc h3 {
    font-size: clamp(24px, 24px + 1vw, 30px);
    letter-spacing: 0.8px;
    font-weight: 500;
}

.card-desc p {
    letter-spacing: 0.8px;
    line-height: 23px;
    font-size: clamp(12px, 10px + 1vw, 16px);
}


.btn-container {
    display: flex;
    justify-content: space-between;
}

.visit-btn {
    background-color: #090d17;
    padding: 13px 20px;
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
    font-size: clamp(12px, 10px + 1vw, 18px);
    letter-spacing: 2px;
    font-weight: 400;
    color: var(--primery-dark-text);
    text-transform: uppercase;
    text-align: center;
}

.visit-btn:hover {
    transform: scale(1.1);
}

.github-btn {
    background: none;
    border: none;
    width: 30px;
}


.git-icon {
    width: 100%;
    height: 100%;
    color: var(--primery-dark-text);
    transition: 0.5s ease;
}

.git-icon:hover {
    transform: scale(1.1);
}

.tech {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 9px;
    letter-spacing: 0.8px;
    font-size: clamp(12px, 11px + 1vw, 16px);
}

.tech span {
    color: aqua;
}

@media only screen and (max-width: 950px) {
    .project-card {
        width: 46%;
    }
}

@media only screen and (max-width: 760px) {
    .project-card {
        width: 400px;
        height: 100%;
    }

    .card-desc {
        gap: 16px;
    }
}

@media only screen and (max-width: 380px) {
    .card-desc {
        padding: 15px;
    }

    .card-img {
        height: 200px;
    }
}