* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primery-light: #fcfcfc;
    --primery-light-text: #090909;
    --primery-dark: #0c0c0c;
    --primery-dark-text: #fcfcfc;
}

body {
    background-color: var(--primery-dark);
    /* background-color: red; */
    color: var(--primery-dark-text);
    font-family: 'Roboto', sans-serif;
}

.conatainer {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: auto;
}

.sections {
    display: flex;
    flex-direction: column;
}

.sec {
    padding: 30px 40px;
    width: 100%;
    margin: 30px 0;
}

.hero-section {
    background: radial-gradient(ellipse at bottom, #1d2c3c 0%, #090A0F 100%);
    overflow: hidden;
    height: 100vh;
    max-height: 750px;
}